@model IEnumerable<Company>

@{
    ViewData["Title"] = "All Companies";
}

<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>BusinessIndustry</th>
        <th>NIP</th>
        <th>City</th>
        <th>Address</th>
        <th>Date Added</th>
        <th>Operations</th>
    </tr>

    @foreach (Company company in Model)
    {
        <tr>
            <td>@company.ID</td>
            <td>@company.Name</td>
            <td>@company.BusinessIndustry.Name</td>
            <td>@company.NIP</td>
            <td>@company.City</td>
            <td>@company.Address</td>
            <td>@company.DateAdded</td>
            <td>
                <a asp-controller="Companies" asp-action="Details" asp-route-ID="@company.ID" class="btn btn-primary">Details</a>
                <a asp-controller="Companies" asp-action="Edit" asp-route-ID="@company.ID" class="btn btn-primary">Edit</a>
                <a asp-controller="Companies" asp-action="Delete" asp-route-ID="@company.ID" class="btn btn-danger">Delete</a>
                <a asp-controller="BusinessNotes" asp-action="Create" asp-route-CompanyID="@company.ID" class="btn btn-secondary">
                    Add <b>Business Note</b>
                </a>
                <a asp-controller="ContactPeople" asp-action="Create" asp-route-CompanyID="@company.ID" class="btn btn-secondary">
                    Add <b>Contact Person</b>
                </a>
            </td>
        </tr>
    }
</table>