@model IPagedList<Company>
@using X.PagedList;
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "All Companies";
}

<form asp-controller="Companies" asp-action="All">
    <p>
        Business Industry
        <select asp-items="@Html.GetEnumSelectList<BusinessIndustryEnum>()" name="businessIndustryID">
            <option value="@null"></option>
        </select>
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>BusinessIndustry</th>
        <th>City</th>
        <th>Date Added</th>
        <th>Operations</th>
    </tr>

    @foreach (Company company in Model)
    {
        <tr>
            <td>@company.ID</td>
            <td>@company.Name</td>
            <td>@company.BusinessIndustryID.ToString()</td>
            <td>@company.City</td>
            <td>@company.DateAdded</td>
            <td>
                <a asp-controller="Companies" asp-action="Details" asp-route-ID="@company.ID" class="btn btn-primary">Details</a>
                <a asp-controller="Companies" asp-action="Edit" asp-route-ID="@company.ID" class="btn btn-primary">Edit</a>
                <a asp-controller="Companies" asp-action="Delete" asp-route-ID="@company.ID" class="btn btn-danger">Delete</a>
                <a asp-controller="BusinessNotes" asp-action="Create" asp-route-CompanyID="@company.ID" class="btn btn-secondary">
                    Add <b>Business Note</b>
                </a>
                <a asp-controller="ContactPeople" asp-action="Create" asp-route-CompanyID="@company.ID" class="btn btn-secondary">
                    Add <b>Contact Person</b>
                </a>
            </td>
        </tr>
    }
</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("All", "Companies", new { page, businessIndustryID = ViewBag.BusinessIndustryFilter }))
